<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="font-family: Roboto,sans-serif; line-height: 2; background-color: #eee; width: 100%; padding: 20px; margin: 0;">
    <table style="margin: auto; width: 100%; background-color: #FFF; padding: 20px; max-width: 500px;">
        <tr><td style="text-align: center"><img src="https://arkavidia.nyc3.digitaloceanspaces.com/logo-arkavidia.png" height="100"></td></tr>
        <tr><td style="text-align: center">Halo, {{ user.full_name }}! </td></tr>
        <tr><td style="text-align: center">Untuk mereset password Anda, <a href="https://www.arkavidia.id/email/recover/{{ token }}">klik disini</a>.</td></tr>

        <tr><td style="text-align: center">Jika Anda tidak ingin mengganti password, tidak ada yang perlu Anda lakukan.</td></tr>
        <tr><td style="text-align: center">Password Anda tidak akan berubah sampai Anda mengakses link di atas dan memasukkan password yang baru.</td></tr>
    </table>
</body>
</html>