<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="font-family: Roboto,sans-serif; line-height: 2; background-color: #eee; width: 100%; padding: 20px; margin: 0;">
    <table style="margin: auto; width: 100%; background-color: #FFF; padding: 20px; max-width: 500px;">
        <tr><td style="text-align: center"><img src="https://arkavidia.sgp1.digitaloceanspaces.com/static/logo-arkavidia.png" height="100"></td></tr>
        <tr><td style="text-align: center">Halo, {{ attendee }}! </td></tr>
        <tr><td style="text-align:center">Anda telah teregistrasi menjadi peserta <b>{{ event }}</b>.</td></tr>
        <tr><td style="text-align:center">Tunjukkan kode QR di bawah kepada panitia saat melakukan <i>check-in</i>!</td></tr>
        <img style="display:block; margin-left: auto; margin-right: auto;" src="https://chart.apis.google.com/chart?cht=qr&chs=400x400&chl={{ token }}"/>
    </table>
</body>
</html>